.productInfoContainer{
  >div {
    @media screen and (max-width: 767px) {
     padding-bottom: 2rem;
    }
  }
}
.productInfoContent {
  display: flex;

  max-height: 360px;
  padding: 1rem;

  gap: 1.5rem;

  margin-top: 2rem;
  border-radius: 8px;
  background: var(--gray-300);

  img {
    border-radius: 8px;

    @media screen and (max-width: 767px){
      width: 220px !important;
      height: 220px !important;
    }
  }

  textarea {
    max-width: max-content;
    max-height: max-content;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: 100%;
    min-width: 340px;
    max-width: 340px;
    max-height: 100%;
  }
}

#infoContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin-top: 1rem;

  height: 100%;
  min-height: 300px;

  h2 {
    font-size: 2rem;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  span {
    font-size: 1.875rem;
  }

  @media screen and (max-width: 767px) {
    max-width: 300px;
    align-items: center;
  }
}

.addButton {
  height: 34px;

  margin-bottom: 4px;
  padding: 0.5rem;
  background: var(--purple);
}
